<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head></head>
<body>
    <table style="width: 100%px">
        <tr>
            <td>
                <img src="http://tuyensinh.vanlanguni.edu.vn/Portals/2/TS1010_Logo.gif" />
            </td>
        </tr>
        <tr>
            <td>
                <b>Thân gửi Anh/Chị [Student|FullName]</b><br />
                Nguyên là sinh viên trường Đại học dân lập Văn Lang<br />
                <br />
                Thay mặt Trường Đại học dân lập Văn Lang, tôi xin gửi tới Anh/Chị lời chúc sức khỏe,
                thành đạt trong sự nghiệp và hạnh phúc trong cuộc sống.<br />
                <br />
                Hiện nay, trường đang thực hiện khảo sát tình hình việc làm của sinh viên sau 1
                năm tốt nghiệp, nhằm 3 mục đích: đánh giá chương trình đào tạo của trường, tìm hiểu
                nhu cầu của thị trường lao động và sau cùng, từng bước xây dựng một cơ sở dữ liệu
                về cựu sinh viên của trường. Kết quả khảo sát sẽ không thể có giá trị nếu không
                có sự hợp tác đầy đủ và nhiệt tình của Anh/Chị.<br />
                <br />
                Nhà trường ủy quyền cho Khoa [Faculty|Name] gửi đến Anh/Chị Phiếu khảo sát trên
                mạng, theo đường dẫn: [Survey|Link]<br />
                <br />
                Mong Anh/Chị vui lòng không coi đây là việc vi phạm thông tin riêng tư, dành thời
                gian trả lời theo hướng dẫn trên phiếu, <span class="style5">trước ngày 20 tháng 8 năm
                    2012</span>. Trong quá trình trả lời câu hỏi, có điều gì không rõ, xin liên
                hệ với Văn phòng Khoa [Faculty|Name], điện thoại ............., cô ................<br />
                <br />
                Trân trọng cảm ơn Anh/Chị.
                <table style="width: 100%; text-align:center;">
                    <tr>
                        <td style="width:25%;">
                            &nbsp;
                        </td>
                        <td style="width:25%px;">
                            &nbsp;
                        </td>
                        <td style="width:50%; font-style:italic">
                            TP. Hồ Chí Minh, ngày 25 tháng 7 năm 2012
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            HIỆU TRƯỞNG
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            (đã ký)<br />
                            TS. NGUYỄN DŨNG
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
