<p>
 Mã sinh viên <span class="star">*</span>: <input type="text" name="stdid" id="stdid" title="Mã sinh viên"/>
 <span class="submit"><input type="submit" name="check" value="Kiểm tra"/></span>
 <span class="explain2">(Nhập mã SV rồi nhấn vào nút kiểm tra để hiển thị thông tin cá nhân)</span>
</p>
<table width="100%" cellpadding="0" cellspacing="0">
<tr>
	<td>Họ và tên</td>
    <td>Chuyên ngành tốt nghiệp</td>
    <td>Lớp</td>
    <td>Năm tốt nghiệp</td>
</tr>
<tr>
	<td class="name">
        <input type="text" name="stdname" id="stdname" readonly/>
    </td>
    <td class="major">
        <input type="text" name="trade" id="trade" readonly/>
    </td>
    <td>
        <input type="text" name="class" id="class" readonly/>
    </td>
    <td>
        <input type="text" name="gyear" id="gyear" title="Năm tốt nghiệp" readonly/>
    </td>
</tr>
</table>

<p class="text">
	Địa chỉ liên hệ:<br/>
	<textarea id="add" name="add"></textarea>
</p>
<table cellpadding="0" cellspacing="0">
	<tr>
    	<td>Số điện thoại gia đình:</td>
    	<td class="mobile">Số điện thoại di động:</td>
    	<td class="email">Địa chỉ email:</td>
    </tr>
    <tr>
    	<td class="homephone"><input type="text" name="phone" id="phone" title="Điện thoại bàn"/></td>
        <td class="mobile"><input type="text" name="hphone" id="hphone" title="Điện thoại di động"/></td>
        <td class="email"><input type="text" name="email" id="email" title="Email"/></td>
    </tr>
</table>